@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/*
	COLORS
		heart 		-> #D90429;
		heart 		-> #EF233C;
		background  -> #EDF2F4;
		about 		-> #8D99AE;
		about		-> #2B2D42;

	FONTS
		font-family: 'Fredoka', sans-serif;
		font-family: 'Quicksand', sans-serif;
*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Fredoka', sans-serif;
	font-size: 20px;
	color: #D90429;
	background-color: #EDF2F4;
}

.background{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.content{
	width: 100vw;
	height: 100vh;
	position: relative;
}

#reason{
	position: absolute;
	text-align: center;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
